body {
    background-color: wheat;
}


/* <---- Navbar section ----> */


.header-section .nav-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    width: 100%;
    padding: 0 4vh;
    background-color: rgb(25, 24, 24);
  }
  
  /* Navbar layout */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    max-width: 180vh;
    margin: 0 auto;
  }
  
  /* Logo section */
  .logo img {
    height: 6vh;
    width: auto;
  }
  
  /* Nav links */
  .nav-links {
    color: orangered;
    display: flex;
    list-style: none;
    gap: 4vh;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ff4500;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .nav-links li .signup-btn{ 
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 0.5vh;
    width: 20vh;
    height: 30vh;
  }

  .support-section{
    color:black;
    margin-top:20vh;
  }

  .diet-T{
    font-size:5vh;
    font-weight:bold;
    font-style: italic;
    text-align:center;
  }

  .support-info{
    font-size: 2.1vh;
    font-style:italic;
    margin-top:6vh;
    margin-left:2vh;
  }

  .support-info p{
    margin-top:3vh;
  }

  #gen-sing{
    font-size:2.1vh;
    font-style:italic;
    font-weight:bold;
  }

  

#generat-btn {
  display: block;
  margin: 8vh auto 9vh auto; /* auto centers horizontally */
  padding: 1vh 2vh;
  font-size: vh;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 1.7vh;
  cursor: pointer;
}
  

#generat-btn:hover{
  color:orangered;
  background-color:transprant;
  border:0.1vh;
}
