body {
    background-color: wheat;
}


/* <---- Navbar section ----> */


.header-section .nav-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    width: 100%;
    padding: 0 4vh;
    background-color: rgb(25, 24, 24);
  }
  
  /* Navbar layout */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    max-width: 180vh;
    margin: 0 auto;
  }
  
  /* Logo section */
  .logo img {
    height: 6vh;
    width: auto;
  }
  
  /* Nav links */
  .nav-links {
    color: orangered;
    display: flex;
    list-style: none;
    gap: 4vh;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ff4500;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .nav-links li .signup-btn{ 
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 0.5vh;
    width: 20vh;
    height: 30vh;
  }

/* <---- Contant section ----> */

.info-container{
    margin-top: 10vh;
    /* text-align: center; */
    color: black;
    font-weight: bold;
}

.info-container .heading-1{
    font-size: 6vh;
    margin-top: 1vh;
    color: black;
    font-weight: bold;
}

.info-container .heading-1 .text-black{
    color: black;
    font-weight: bold;
    font-size: 6vh;
}

.info-container .heading-1 .text-orangered{
    color: orangered;
    font-weight: bold;
    font-size: 6vh;
}

.info-container .para1{
    margin-top: 6vh;
    color: black;
    font-weight: bold;
    font-size: 2vh;
}

.info-section{
    display: flex;
    /* margin-top: 5vh;
    width: 100%;
    height: auto; */
}

/* <---- Diet-contant section ----> */


.diet-container .heading-1  {
    text-align: center;
    font-size: 6vh;
    margin-top: 11vh;
    color: black;
    font-weight: bold;
}
.diet-container h1{
    text-align: center;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 3vh;
    color: black;
}

.diet-container .diet-logo{
    margin-top: 5vh;
    color: black;
}

.diet-container .calories-input-container{
    margin-top: 4vh;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2vh;
}
.diet-container .calories-input-container span{
    color: black;
    font-weight: bold;
    font-size: 2vh;
}
.diet-container .calories-input-container input{
    gap: 2vh;
    width: 7vh;
    height: 3.5vh;
    border-radius: 0.5vh;
    border: 0.2vh solid orangered;

}


.diet-container .meal-input-container {
  margin-top: 4vh;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2vh;
}

.diet-container .meal-input-container span {
  color: black;
  font-weight: bold;
  font-size: 2vh;
}
.diet-container .meal-input-container input {
  gap: 2vh;
  width: 5vh;
  height: 3.5vh;
  border-radius: 0.5vh;
  border: 0.2vh solid orangered;
}


.diet-container .diet-options{
    background-color: rgb(236, 255, 255);
    width: 110vh;
    height: 90vh;
    gap: 2vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}



/* .calories{
    margin-top: vh;
    color: black;
    font-weight: bold;
    font-size: 2vh; */
    
/* }  */
   
.diet-container .diet-btns {
  margin-top: 5vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

/* <--- Diet buttons section --->  */
.diet-container .diet-btns .diet-button{
    width: 16vh;
    height: 15vh;
    background-color: transparent;
    border: 0.1vh solid black;
  }

.diet-container .diet-btns .diet-button image{
    align-items: center;

}
.diet-container .diet-btns .diet-button img{
    width: 8vh;
    height: 8vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
} 

.diet-button {
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.diet-button span {
  margin-top: 1vh;
  font-size: 2vh;
  color: black;
  font-weight: bold;
}

.diet-button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.diet-options .nutri-value{
    margin-top: 5vh;
    color: black;
    font-weight: bold;
    font-size: 2vh;
    text-align: center;
}

#generate-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 15vh;
    height: 7vh;
    background-color: orangered;
    color: whitesmoke;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    font-weight: bold;
}

/* <---- discription section ----> */
.diet-container .discription-container {
    margin-top: 5vh;
    font-weight: bold;
    font-size: 2vh;
    text-align: center;
}

.discription-container .discription{
    color: black;
    font-weight: bold;
    font-size: 2vh;
}

.discription-container #register-btn{
    margin-top: 5vh;
    width: 40vh;
    height: 6vh;
    background-color: orangered;
    color: whitesmoke;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    font-weight: bold;
}

/* <--- Hover section ---> */

  .nav-links li a:hover {
    color: white;
  }
  .nav-links li button:hover{

    background-color: white;
    color: orangered;
  }

  .diet-options .diet-btns .diet-button:hover{
    background-color: white;
    color: orangered;
    border: 0.1vh solid orangered;
    width: 20vh;
    height: 18vh;
    transition: all 0.5s ease-in-out;
  }
  

  #generate-btn:hover{
    background-color: white;
    color: orangered;
    border: 0.1vh solid orangered;
    width: 16vh;
    height: 8vh;
    transition: all 0.4s ease-in-out;
  }

  #register-btn:hover{
    background-color: white;
    color: orangered;
    border: 0.1vh solid orangered;
    width: 45vh;
    height: 7vh;
    transition: all 0.4s ease-in-out;
  }


